* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/Figtree.ttf");
}

:root {
  font-size: 0.77rem;
  font-family: Figtree, system-ui, Arial, sans-serif;

  --rounded: 0.7rem;
  --less-rounded: 0.3rem;
  --lighter-grey: #f5f2ee;
  --light-grey: #e5e3e0;
  --dark-grey: #615c54a9;
  --translucent-white: rgba(255, 255, 255, 0.9);
  --accent: rgb(182, 196, 161);
  --dark-accent: rgb(88, 109, 75);
  --highlight: rgb(255, 176, 57);
}

html {
  scrollbar-gutter: stable;
  scrollbar-color: #a7a5a3 transparent;
}

body {
  min-height: 100vh;
  background-color: var(--lighter-grey);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.3rem;
}

a,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

button {
  font-size: 0.9em;
  font-family: Figtree, system-ui, Arial, sans-serif;

  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: var(--less-rounded);

  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

hr {
  margin-top: 0.2rem;
  border-top: 2px solid var(--light-grey);
}

.narration-bar,
.shop-nav,
.shelf-item,
.cart-btn,
.cart {
  background-color: var(--translucent-white);
  backdrop-filter: blur(3px);
}

/* Hacky way to shrink on mobile-- FIX LATER...maybe */
@media (max-width: 480px) {
  :root {
    font-size: 0.38rem;
  }
}
@media (min-width: 481px) and (max-width: 760px) {
  :root {
    font-size: 0.55rem;
  }
}

/* Animations */

@keyframes stretch {
  50% {
    transform: scaleX(120%);
  }
}
@keyframes squeeze {
  50% {
    transform: scaleX(70%);
  }
}
@keyframes shake {
  30% {
    transform: rotate(5deg);
  }
  55% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
}
@keyframes poke {
  0% {
    transform: 0;
  }
  40% {
    transform: translateX(12%);
  }
  50% {
    transform: translateX(8%);
  }
  60% {
    transform: translateX(12%);
  }
}
@keyframes pulse {
  0% {
    outline-color: var(--highlight);
  }
  50% {
    outline: 4px solid var(--highlight);
    outline-offset: 3px;
    /* box-shadow: 0 0 4px 3px var(--highlight); */
  }
  100% {
    outline-color: var(--highlight);
  }
}

/* App: Header and Footer */

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

header {
  color: var(--dark-grey);
  font-weight: 600;
  width: 100%;
  padding: 0.5rem 1rem;

  background-color: var(--light-grey);
}

#app > div {
  width: 60rem;
  margin: 1.5rem 0;
}

footer {
  font-size: 0.9rem;
  text-align: right;
  width: 100%;
  padding: 1rem 1rem;
  margin-top: auto;
}

/* Viewer and Narration Bar */

.viewer {
  height: 34rem;
  padding: 1rem;
  border-radius: var(--rounded);

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: background-image 100ms ease-in-out;
}

.narration-bar {
  align-self: center;

  font-weight: 500;

  width: 35rem;
  padding: 1rem;
  margin-top: auto;
  margin-left: 0.7rem;
  border-radius: var(--rounded);

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: background-color 100ms ease-in-out;
}

.narration-bar:hover {
  background-color: white;
  cursor: pointer;
}

.narration-bar button {
  padding-right: 1.5rem;
  border: 1px solid black;
  border-radius: var(--rounded);
  background-color: transparent;

  animation: poke 2s infinite;
}

.narration-bar button::after {
  content: ">";
  padding-left: 0.3rem;
  margin: auto;
  position: absolute;
}

/* Dialog  */

.show-help-btn {
  color: white;
  font-weight: 500;

  position: absolute;
  bottom: 0.8rem;
  left: 1.3rem;

  transition: transform 100ms ease-in-out;
}

.show-help-btn:hover {
  transform: scale(110%);
  outline: 1px solid white;
  outline-offset: 2.5px;
}

h1 + div {
  width: 60rem;
  height: 34rem;
  padding: 1rem;
  border-radius: var(--rounded);

  position: absolute;
  transition: background-color 200ms ease-in;
}

.dialog-overlay {
  z-index: 5;

  background-color: #303030ab;
  backdrop-filter: blur(7px);
}

dialog {
  color: white;
  text-align: center;
  text-shadow: 0 0 10px #000;

  width: 32rem;
  padding: 2rem 4rem;
  margin: auto;

  border: none;
  border-radius: var(--rounded);
  background-color: transparent;

  top: 9rem;
  position: relative;
}

dialog h2,
dialog p {
  text-align: left;
  margin-bottom: 1rem;
}

dialog ol {
  text-align: left;
  margin-left: 1rem;
}

dialog button {
  color: white;
  height: min-content;
  padding: 0.4rem 1.2rem;
  margin-top: 2.4rem;
  border: 1px solid white;
  border-radius: var(--rounded);
}

dialog button:hover {
  transform: scale(110%);
}

/* Virtual Store and Child Components */

.virtual-store {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Store Nav  */

.shop-nav {
  height: min-content;
  width: 9.9rem;
  padding: 1rem;
  border-radius: var(--rounded);

  display: flex;
  flex-direction: column;
}

.shop-nav.highlighted {
  animation: pulse 1.8s infinite ease-in-out;
}

.shop-nav li {
  padding: 0.1rem 0.5rem;
  border: 2px solid transparent;
  list-style: none;

  transition: background-color 100ms ease-in-out;
}

.shop-nav li:not(.selected):hover {
  background-color: white;

  outline: 1px solid var(--accent);
}

.selected {
  font-weight: bold;
  background-color: var(--dark-accent);
}

.selected a {
  color: white;
}

/* Cart */

.cart-btn {
  grid-column: 3;

  width: min-content;
  height: min-content;
  padding: 0;
  margin-left: auto;
  background-color: transparent;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  animation-duration: 300ms;
  animation-iteration-count: 1;

  position: relative;
}

.cart-btn img {
  width: 2rem;
  height: auto;
  padding: 0.5rem;
  border-radius: var(--less-rounded);

  background-color: white;
}

.cart-btn p {
  top: -0.5rem;
  right: -0.5rem;
  position: absolute;

  font-weight: 700;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  padding-top: 0.15rem;

  background-color: rgb(223, 77, 77);
  border-radius: 50%;
  box-shadow: 0 0 3px 1px var(--dark-grey);

  transition: transform ease-in-out 100ms;
}

.cart-btn img:hover {
  outline: 1px solid white;
  outline-offset: 2px;
  transform: scale(110%);
}

.cart-btn.highlighted {
  animation: pulse 1.8s infinite ease-in-out;
}

/* Shelf and Shelf Items */

.shelf,
.cart {
  margin: auto;
  width: 35rem;
}
.shelf {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 1rem;
}

.shelf-item {
  text-align: center;

  width: 100%;
  padding-top: 0.5rem;
  border-radius: var(--rounded);

  position: relative;

  transition: transform 100ms ease-in;
}

.shelf-item img {
  height: 6rem;
  width: auto;
}

.item-label {
  height: 3.6rem;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);

  background-color: white;

  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}

.item-label h3 {
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
}

.item-price {
  width: 7ch;
  font-weight: 600;
  font-size: 0.82rem;
  text-align: right;
}

.add-item-btn,
.edit-item-btn {
  color: var(--dark-accent);
  font-weight: 600;

  border-radius: var(--less-rounded);
  border: 2px solid transparent;

  background-color: var(--accent);

  display: flex;
  gap: 0.2rem;
  align-items: center;

  transition: transform ease-in-out 100ms;
}

.edit-item-btn button {
  font-weight: 600;
}

.add-item-btn:hover,
.edit-item-btn:hover {
  outline: 1px solid var(--dark-grey);
  outline-offset: 2.5px;
  transform: scale(105%);
}

.shelf .edit-item-btn {
  background-color: var(--light-grey);
}

.shelf .edit-item-btn,
.shelf .add-item-btn {
  position: absolute;
  top: 5%;
  right: 5%;
}

.add-item-btn p,
.edit-item-btn p {
  margin: 0 0.2rem;
}

.add-item-btn::after {
  opacity: 0.7;

  display: inline-block;
  position: relative;

  content: "";
  width: 1rem;
  height: 1rem;
  margin-left: 0.2rem;

  background-image: url("/icons/cart-icon.png");
  background-size: contain;
}

/* Cart and Cart Items */
.cart {
  text-align: center;

  height: 22rem;
  border-radius: var(--rounded);

  background-color: var(--translucent-white);
}

.cart-header {
  margin: 1rem 1.3rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cart-header > button:first-of-type {
  opacity: 0.5;
  text-align: left;
  height: min-content;
  background-color: transparent;

  transition: opacity 100ms ease-in;
}

.cart-header > button:first-of-type:hover {
  opacity: 1;
}

.cart .edit-item-btn {
  background-color: var(--light-grey);
}

.checkout-btn {
  height: min-content;
  width: min-content;

  padding: 0.5rem 0.75rem;
  margin-left: auto;

  border-radius: var(--less-rounded);

  background-color: var(--accent);

  transition: transform ease-in-out 100ms;
}

.checkout-btn:not(.disabled):hover {
  outline: 1px solid var(--dark-grey);
  outline-offset: 2.5px;
  transform: scale(105%);
}

.checkout-btn a {
  color: var(--dark-accent);
}

.checkout-btn.disabled {
  color: var(--dark-grey);
  background-color: var(--light-grey);
  cursor: not-allowed;
}

.cart-items {
  text-align: left;

  max-height: 12.5rem;
  padding-left: 1.55rem;

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--light-grey) transparent;
}

.cart-item {
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 1.9rem;
  border: 1px solid transparent;

  display: flex;
  justify-content: space-between;
  gap: 1rem;

  transition: background-color 100ms ease-in-out;
}

.cart-item:hover {
  cursor: pointer;
  background-color: white;
}

.cart-item img {
  width: auto;
  height: 5rem;
}

.cart-item > div {
  margin-right: auto;
}

.cart-item > div p {
  display: inline;
}

.cart-item > div p:first-of-type {
  font-weight: 600;
}

.cart-item > div > p:last-of-type {
  font-size: 0.75rem;
  color: var(--dark-grey);
  margin-left: 0.5rem;
}

.cart-item > p {
  font-weight: 500;
}

.edit-cart {
  margin-top: 0.5rem;

  display: flex;
  gap: 0.5rem;
}

.remove-btn {
  opacity: 70%;
  background-color: transparent;
}

.remove-btn::before {
  display: inline-block;
  position: relative;
  top: 2px;

  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;

  background-image: url("/icons/trash-icon.png");
  background-size: contain;
}

.cart > hr,
.cart-total {
  margin: 0.2rem 2.5rem 0;
}

.cart-total {
  font-weight: bold;
  padding: 0.5rem;

  display: flex;
  justify-content: space-between;
}

.empty-cart + p {
  margin-top: 0.5rem;
  color: var(--dark-grey);
}

.empty-cart {
  width: auto;
  height: 9rem;
  margin-top: 1rem;
}

/* Receipt and Receipt Items */

.receipt-instruction {
  grid-column: 1;

  color: white;
  text-align: left;

  width: 17ch;
  margin-left: 3rem;
}

.receipt-instruction > p:first-of-type::before {
  content: "";
  display: block;
  position: relative;

  left: -2rem;
  top: 2rem;

  height: 1.3rem;
  width: 1.3rem;
  margin-bottom: 0.5rem;

  background-image: url("/icons/magnifying-icon.png");
  background-size: contain;

  animation: shake 1s infinite;
}

.receipt {
  z-index: 3;
  grid-column: 2;

  text-align: center;

  width: 18rem;
  height: max-content;
  max-height: 24rem;
  padding: 1rem 1rem 1rem 1.75rem;
  margin: 2rem auto 0;

  border-radius: var(--rounded);
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--light-grey) transparent;
}

.receipt-items {
  text-align: left;
}

.receipt-items > div {
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.receipt-items > div > div {
  margin-right: auto;
}

.receipt-items > div > div > p:last-of-type {
  color: var(--dark-grey);
}

.receipt-total > div {
  display: flex;
  justify-content: space-between;
}

.receipt-total > div > p:first-of-type {
  font-weight: bold;
}

.receipt > p:last-of-type {
  margin-top: 1rem;
}

.receipt-items > div,
.receipt-header > h2,
.receipt-total > div:last-of-type {
  border: 1px solid transparent;
}
.receipt-items > div:hover,
.receipt-header > h2:hover,
.receipt-total > div:last-of-type:hover {
  cursor: pointer;
  border: 1px solid var(--light-grey);
  background-color: var(--lighter-grey);
}

/* Lesson Guide and Tabs */

.lesson-guide {
  margin-top: 1.5rem;
}

.tab-nav {
  margin-bottom: -0.15rem;

  display: flex;
  gap: 1rem;
}

.tab-nav > li {
  opacity: 0.5;
  list-style: none;
  padding: 0.5rem 1rem 0.5rem;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  cursor: pointer;
}

.tab-nav > li img {
  width: 1.2rem;
  height: auto;
}

li.tab-selected {
  opacity: 1;
  font-weight: bold;

  position: relative;
}

li.tab-selected > span {
  z-index: -1;
  position: absolute;
  left: 0;

  content: "";
  height: 100%;
  width: 100%;
  background-color: white;

  border: 1px solid black;
  border-top-left-radius: var(--rounded);
  border-top-right-radius: var(--rounded);
  border-bottom: none;

  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.tab-contents {
  z-index: -2;
  position: relative;

  padding: 1.5rem 1rem 2rem;
  background-color: white;
  border: 1px solid black;
  border-radius: var(--rounded);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tab-section h3 {
  padding: 0.25rem 1.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--lighter-grey);
  border-radius: var(--less-rounded);
}

.tab-section p {
  padding: 0.25rem 1.5rem;
}

.tab-section li {
  list-style-position: inside;
  padding: 0 1.5rem;
}

.lesson-guide pre {
  font-family: Figtree;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
