:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --rounded: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

button {
  padding: 0.25rem 0.5rem;
}

.viewer {
  width: 50rem;
  height: 34rem;
  border: 1px solid black;
  border-radius: var(--rounded);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.narration-bar {
  border-radius: var(--rounded);
  padding: 1rem;
  background-color: antiquewhite;
  margin-top: auto;
}

.virtual-store {
  display: flex;
}

.store-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: var(--rounded);
  padding: 1rem;
  height: min-content;
  background-color: antiquewhite;
}

.selected {
  background-color: rgb(121, 180, 93);
}

.cart-btn {
  padding: 1rem;
  border-radius: var(--rounded);
  height: min-content;
  background-color: antiquewhite;
  margin-left: auto;
}

.shelf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 37rem;
}

.shelf-item {
  width: 11rem;
  padding: 1rem;
  border-radius: var(--rounded);
  text-align: center;
  background-color: rgba(250, 235, 215, 0.932);
}

.shelf-item img {
  height: 6rem;
  width: auto;
}

.number-picker {
  display: flex;
  gap: 0.5rem;
}
