* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Arial, sans-serif;

  --rounded: 0.7rem;
  --less-rounded: 0.3rem;
  --light-grey: rgb(217, 217, 217);
  --dark-grey: rgb(100, 100, 100);
  --translucent-white: rgba(255, 255, 255, 0.9);
  --accent: rgb(184, 200, 179);
  --dark-accent: rgb(77 102 76);
}

body {
  font-size: 0.9rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

a,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

button {
  font-family: system-ui, Arial, sans-serif;

  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: var(--less-rounded);

  background-color: var(--accent);
}

button:hover {
  cursor: pointer;
}

hr {
  margin-top: 0.2rem;
  border-top: 2px solid var(--light-grey);
}

.narration-bar,
.store-nav,
.shelf-item,
.cart-btn,
.cart {
  background-color: var(--translucent-white);
  backdrop-filter: blur(3px);
}

/* App: Header and Footer */

header {
  width: 100%;
  padding: 0.5rem 1rem;

  background-color: var(--light-grey);
}

header p {
  color: var(--dark-grey);
}

#app > div > h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Viewer and Narration Bar */

.viewer {
  width: 60rem;
  height: 34rem;
  padding: 1rem;
  border-radius: var(--rounded);

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;

  transition: background-image 100ms ease-in-out;
}

.narration-bar {
  align-self: center;

  width: 35rem;
  padding: 1rem;
  margin-top: auto;
  border-radius: var(--rounded);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.narration-bar button {
  padding-right: 1.5rem;
  border: 1px solid black;
  border-radius: var(--rounded);
  background-color: transparent;
}

.narration-bar button:hover {
  text-shadow: 0 0 1px black;
}

.narration-bar button::after {
  content: ">";
  margin: 0 0.4rem;
  position: absolute;
  animation: slide 2s infinite;
}

@keyframes slide {
  0% {
    transform: 0;
  }
  35% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(20%);
  }
  65% {
    transform: translateX(50%);
  }
  100% {
    transform: 0;
  }
}

/* Virtual Store and Child Components */

.virtual-store {
  display: flex;
  justify-content: space-between;
}

/* Store Nav  */

.store-nav {
  height: min-content;
  padding: 1rem;
  border-radius: var(--rounded);

  display: flex;
  flex-direction: column;
}

.store-nav li {
  padding: 0.2rem 0.5rem;
  list-style: none;
}

.store-nav li:not(.selected):hover {
  background-color: var(--accent);
}

.selected {
  font-weight: bold;
  background-color: var(--dark-accent);
}

.selected a {
  color: white;
}

/* Cart */

.cart-btn {
  height: min-content;
  padding: 0.5rem 1rem;
  border-radius: var(--less-rounded);
  border: 2px solid transparent;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  transition: border ease-in-out 100ms;
}

.cart-btn img {
  width: 1.2rem;
}

.cart-btn:hover {
  border: 2px solid var(--dark-accent);
}

/* Shelf and Shelf Items */

.shelf,
.cart {
  width: 35rem;
  margin-right: 5rem;
  margin-top: 5rem;
}
.shelf {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 1rem;
}

.shelf-item {
  text-align: center;
  width: 100%;
  padding-top: 0.5rem;
  border-radius: var(--rounded);

  position: relative;
}

.shelf-item img {
  height: 6rem;
  width: auto;
}

.item-label {
  height: 3.38rem;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);

  background-color: white;

  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}

.item-label h3 {
  font-size: 0.9rem;
  text-align: left;
}

.item-price {
  width: 7ch;
  font-size: 0.75rem;
  text-align: right;
}

.edit-item-btn {
  border-radius: var(--less-rounded);
  border: 2px solid transparent;

  background-color: var(--accent);

  display: flex;
  gap: 0.2rem;
  align-items: center;

  transition: border ease-in-out 100ms;
}

.edit-item-btn:hover {
  border: 2px solid var(--dark-accent);
}

.shelf .edit-item-btn {
  position: absolute;
  top: 5%;
  right: 5%;
}

.edit-item-btn img {
  width: 1.2rem;
  height: auto;
  margin-left: 0.25rem;
}

.edit-item-btn p {
  margin: 0 0.2rem;
}

/* Cart and Cart Items */
.cart {
  text-align: center;

  height: 21.3rem;
  border-radius: var(--rounded);

  background-color: var(--translucent-white);
}

.cart-header {
  margin: 1rem 1.3rem;
  display: flex;
  justify-content: space-between;
}

.cart-header > button:first-of-type {
  background-color: transparent;
  align-self: flex-start;
}

.checkout-btn {
  height: min-content;
  padding: 0.5rem 0.75rem;
  border-radius: var(--less-rounded);
  border: 2px solid transparent;
  background-color: rgb(182, 196, 161);
  transition: border ease-in-out 100ms;
}

.checkout-btn:not(.disabled):hover {
  border: 2px solid var(--dark-accent);
}

.checkout-btn.disabled {
  color: var(--dark-grey);
  background-color: var(--light-grey);
  cursor: not-allowed;
}

.cart-items {
  text-align: left;
  max-height: 12.5rem;
  padding-left: 1.75rem;
  padding-right: 1.9rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--light-grey) transparent;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cart-item img {
  width: auto;
  height: 5rem;
}

.cart-item > div {
  margin-right: auto;
}

.cart-item > div p {
  display: inline;
}

.cart-item > div > p:last-of-type {
  font-size: 0.75rem;
  color: var(--dark-grey);
  margin-left: 0.5rem;
}

.edit-cart {
  margin-top: 0.5rem;

  display: flex;
  gap: 0.5rem;
}

.remove-btn {
  opacity: 70%;
  background-color: transparent;
}

.remove-btn::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url("/icons/trash-icon.png");
  background-size: contain;
  display: inline-block;
  vertical-align: bottom;
}

.cart > hr,
.cart-total {
  margin: 0.2rem 2rem 0;
}

.cart-total {
  font-weight: bold;
  padding: 0.5rem;

  background-color: var(--light-grey);

  display: flex;
  justify-content: space-between;
}

.empty-cart + p {
  margin-top: 0.5rem;
  color: var(--dark-grey);
}

.empty-cart {
  width: auto;
  height: 9rem;
  margin-top: 1rem;
}

/* Receipt and Receipt Items */

.receipt {
  text-align: center;
  width: 18rem;
  height: 25rem;
  padding: 1rem 1rem 1rem 1.75rem;
  margin: 2rem auto 0;
  border-radius: var(--rounded);
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--light-grey) transparent;
}

.receipt-items {
  text-align: left;
}

.receipt-items > div {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.receipt-items > div > div {
  margin-right: auto;
}

.receipt-items > div > div > p:last-of-type {
  color: var(--dark-grey);
}

.receipt-total > div {
  display: flex;
  justify-content: space-between;
}

.receipt-total > div > p:first-of-type {
  font-weight: bold;
}

.receipt > p:last-of-type {
  margin-top: auto;
}

.receipt-items > div:hover,
.receipt-header > h2:hover,
.receipt-total > div:last-of-type:hover {
  cursor: pointer;
}
